<p>
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Reactive Material</span>
      <span class="spacer"></span>
      <app-reload-article></app-reload-article>
      <button mat-icon-button aria-label="Icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Icon-button with share icon">
        <mat-icon>local_library</mat-icon>
      </button>
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>